@model LoLShop.Web.ViewModels.Users.DetailsViewModel;

<div style="text-align:center;">
    <div class="profile-image">
        <img src="@Model.AvatarImageUrl" alt="Profile Image" class="rounded-circle">
    </div>
    <h2 class="form-fields">Username: @Model.Username</h2>
    <h2 class="form-fields">Email: @Model.Email</h2>
    <h2 class="form-fields">Funds: $@Model.Funds</h2>
    <h2 class="form-fields">Ranks: @Model.Rank</h2>
    <h2 class="form-fields">Champions: @Model.Champions</h2>
    <a class="btn btn-warning btn-lg" href="/Users/Edit">Edit Account</a>
</div>