@model LoLShop.Web.ViewModels.Coaching.OrderViewModel;
@using LoLShop.Common;

<hr />
<h1 class="panel-title">Employees Dashboard</h1>

<div class="row">
    <div class="col-sm-6">
        <h2 class="panel-text" style="text-align:center">Coaching Orders</h2>
        @if (this.User.IsInRole(GlobalConstants.CoachRoleName))
        {
            @if (string.IsNullOrEmpty(Model.GameName))
            {
                <h3 class="no-accounts-text" style="text-align:center">There are currently no orders!</h3>
            }
            else
            {
                <div class="card" style="width: 18rem; margin-left:180px; color:#fff; margin-top:30px;">
                    <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
                    <p class="card-paragraph" style="margin-top:10px;">In-Game Name: @Model.GameName</p>
                    <p class="card-paragraph">Region: @Model.Region</p>
                    <p class="card-paragraph">Discord Tag: @Model.DiscordTag</p>
                    <p class="card-paragraph">Purchased Hours: @Model.Hours</p>
                    <div class="card-body">
                        <a href="/Employees/Dashboard/CoachOrderFinish" class="btn btn-success btn-lg">FINISHED</a>
                    </div>
                </div>
            }
         }
        else
        {
            <h3 class="no-accounts-text" style="text-align:center">You need to be a coach to unlock this tab!</h3>
        }
    </div>

    <div class="col-sm-6">
        <h2 class="panel-text" style="text-align:center">Boosting Orders</h2>
        @if (this.User.IsInRole(GlobalConstants.BoosterRoleName))
        {

        }
        else
        {
            <h3 class="no-accounts-text" style="text-align:center">You need to be a booster to unlock this tab!</h3>
        }
    </div>
</div>